# Terraform ignore rules

# Ignores terraform directories and provider binaries
**/.terraform/

# Ignores terraform state files
**/*.tfstate
**/*.tfstate.backup

# Ignores lock files
**/.terraform.lock.hcl

# Ignores crash logs
crash.log

# Ignores OS files
.DS_Store
Thumbs.db
